{% extends 'main/layout/base.html' %}
{% load static %}
{% block content %}
    <section class="popular">
        <div class="popular__inner">
            <div class="popular__img">
                <div class="img-popular"
                     style="background: url('{% static '/images/mainpage/pulp.jpeg' %}') no-repeat center;
                             background-size: cover;"></div>
            </div>
            <h2 class="popular__title">Криминальное чтиво</h2>
            <p class="populat__description-short">Двое бандитов Винсент Вега и Джулс Винфилд ведут философские беседы в
                перерывах между разборками и решением проблем с должниками криминального босса Марселласа Уоллеса.</p>
            <a href="{% url 'singleFilm' 2 %}" class="popular__link">Узнать больше
                <svg class="arrow__right-symbol">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </div>
    </section>

    <section class="top__films">
        <a href="" class="top__films-item">
            <img src="{% static '/images/topFilms/post-23-copyright-485x665.jpg' %}" alt="" class="top__films-img">
            <article class="top__films-info">
                <h3 class="top__films-title">Пираты карибского моря</h3>
                <h4 class="top__films-genre">Приключение</h4>
                <div class="top__films-link">
                    <div class="block__arrow">
                        <svg class="top__arrow-right--symbol">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                    More information
                </div>
            </article>
        </a>

        <a href="" class="top__films-item">
            <img src="{% static '/images/topFilms/teoru.webp' %}" alt="" class="top__films-img">
            <article class="top__films-info">
                <h3 class="top__films-title">Теория большого взрыва</h3>
                <h4 class="top__films-genre">Комедия</h4>
                <div class="top__films-link">
                    <div class="block__arrow">
                        <svg class="top__arrow-right--symbol">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                    More information
                </div>
            </article>
        </a>

        <a href="" class="top__films-item">
            <img src="{% static '/images/topFilms/post-7-copyright.jpg' %}" alt="" class="top__films-img">
            <article class="top__films-info">
                <h3 class="top__films-title">Мультфильмы</h3>
                <h4 class="top__films-genre">Приключение</h4>
                <div class="top__films-link">
                    <div class="block__arrow">
                        <svg class="top__arrow-right--symbol">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                    More information
                </div>
            </article>
        </a>

        <a href="" class="top__films-item">
            <img src="{% static '/images/topFilms/post-23-copyright-485x665.jpg' %}" alt="" class="top__films-img">
            <article class="top__films-info">
                <h3 class="top__films-title">Пираты карибского моря</h3>
                <h4 class="top__films-genre">Приключение</h4>
                <div class="top__films-link">
                    <div class="block__arrow">
                        <svg class="top__arrow-right--symbol">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                    Узнать больше
                </div>
            </article>
        </a>
    </section>


    <section class="new__movies">
        <div class="new__movies-inner">
            <div class="new__movies-header">
                <h2 class="new__movies-title">Открой для себя новые фильмы</h2>
                <p class="new__movies-subtitle">Время найти новинки для твоего кинотеатра</p>
            </div>
            <div class="new__movies-body">
{#                <div class="new__movies-filter">#}
{#                    <a href="#" class="movies__filter-item filter-active">Recent</a>#}
{#                    <a href="#" class="movies__filter-item">Most popular</a>#}
{#                    <a href="#" class="movies__filter-item">Best</a>#}
{#                    <a href="#" class="movies__filter-item">Coming soon</a>#}
{#                </div>#}

                <div class="new__movies-movies">
                    {% for item in object_list %}
                    <div class="new__movies-item">
                        <a href="{% url 'singleFilm' item.id %}" class="new__movies-img--block">
                            <img src="{{ item.img.url }}" alt=""
                                 class="new__movies-img">
                        </a>
                        <a href="{% url 'singleFilm' item.id %}" class="new__movies-name">{{ item.name }}</a>
                        <div class="new__movies-genre">{{ item.genre }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="view__more-block">
                <a href="{% url 'allFilms' %}" class="view__more-btn">Больше фильмов</a>
            </div>
        </div>
    </section>
{% endblock %}