{% extends 'main/layout/base.html' %}
{% load static %}
{% block content %}
    <section class="profile">
        <div class="profile__inner">
            <div class="profile__header">
                <h2 class="profile__title">Ваши фильмы</h2>
                <p class="profile__header-desc">Здесь вы можете просматривать ваши фильмы</p>
            </div>

            <div class="all__films-films">
                <div class="films__item">
                    <div class="films__number">
                        <span class="films__count">1</span>
                    </div>
                    <a href="#" class="film__photo">
                        <img src="{% static 'images/allFilms/friend.webp' %}" alt="" class="allfilm__img">
                        <span class="films__img-rating">8.6</span>
                    </a>
                    <div class="film__info-filter">
                        <a href="#" class="film__info-left">
                            <p class="film__info-name">
                                Друзья
                            </p>
                            <p class="film__info-date">
                                Друзья, 1994–2004
                            </p>
                            <p class="film__info-metaInfo">
                                <span class="film__info-country">Russhia</span>
                                <span class="film__info-genre">
                                    комедия, мелодрама
                                </span>
                            </p>
                            <form action="" method="post" class="prof__films-delete">
                                <button type="button" class="btn__delete-films">Удалить фильм</button>
                            </form>
                        </a>
                        <div class="film__info-right"></div>
                    </div>
                </div>

                <div class="films__item">
                    <div class="films__number">
                        <span class="films__count">1</span>
                    </div>
                    <a href="#" class="film__photo">
                        <img src="{% static 'images/allFilms/friend.webp' %}" alt="" class="allfilm__img">
                        <span class="films__img-rating">8.6</span>
                    </a>
                    <div class="film__info-filter">
                        <a href="#" class="film__info-left">
                            <p class="film__info-name">
                                Друзья
                            </p>
                            <p class="film__info-date">
                                Друзья, 1994–2004
                            </p>
                            <p class="film__info-metaInfo">
                                <span class="film__info-country">Russhia</span>
                                <span class="film__info-genre">
                                    комедия, мелодрама
                                </span>
                            </p>
                            <form action="" method="post" class="prof__films-delete">
                                <button type="button" class="btn__delete-films">Удалить фильм</button>
                            </form>
                        </a>
                        <div class="film__info-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}