{% extends 'main/layout/base.html' %}
{% load static %}


{% block content %}

    <section class="singleFilm">
        <div class="singleFilm__inner">
            <div class="singleFilm__item">
                <div class="single__photo-block">
                    <div class="single__photo-film">
                        <img src="{{ movie.img.url }}" alt="" class="film__img">
                    </div>
                </div>
                <article class="film__info">
                    <h2 class="film__name">{{ movie.name }}</h2>
                    <ul class="film__list-desc">
                        <li class=" film__desc-item film__rating-field">
                            <span class="film__field">Рейтинг:</span> <span class="rating__count">8.6</span>
                        </li>
                        <li class="film__desc-item film__country"><span class="film__field">Год:</span>
                            <span>{{ movie.production_year }}</span>
                        </li>
                        <li class="film__desc-item film__country"><span class="film__field">Страна:</span>
                            <span>{{ movie.country }}</span>
                        </li>
                        <li class="film__desc-item film_genre">
                            <span class="film__field">Жанр:</span> <span>{{ movie.genre }}</span>
                        </li>
                        <li class="film__desc-item film_genre">
                            <span class="film__field">Режиссёр:</span> <span>{{ movie.producer }}</span>
                        </li>
                        <li class="film__desc-item film_genre">
                            <span class="film__field">Бюджет:</span> <span>{{ movie.budget }}</span>
                        </li>
                        <li class="film__desc-item film__release">
                            <span class="film__field">Мировая премьера:</span>
                            <span>{{ movie.world_premiere }}</span></li>
                    </ul>
                    <form action="" method="post" class="add_film">
                        <button type="button">Добавить в любимые</button>
                    </form>
                    <!--                <div class="add__love">Добвавлено в любимое</div>-->
                </article>
            </div>

            <div class="singleMovie__description">
                <div class="singleMovie__description-title">Обзор</div>
                <div class="singleMovie__description-text">
                    {{ movie.overview }}
                </div>
            </div>

            <div class="trailer singleMovie__description">
                <div class="trailer__title singleMovie__description-title">
                    Трейлер
                </div>
                <div class="trailer__iframe">
                    <iframe width="560" height="315" src="{{ movie.link }}" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>

            <div class="singleMovie__comments">
                <div class="singleMovie__comments-top">
                    <div class="singleMovie__comments-header">
                        <div class="singleMovie__comments-title">Комментарии</div>
                        <div class="singleMovie__comments-count">22</div>
                    </div>
                    <form action="" class="comment__write" method="post">
                    <textarea class="comment__field" name="comment" id="comment" cols="30" rows="10"
                              placeholder="Ваш комментарий..."></textarea>
                        <span>
                        <button type="button" class="btn__comment">Отправить</button>
                    </span>
                    </form>
                </div>
                <div class="comment__items">
                    <div class="comment__item">
                        <div class="comment__desc">
                            <div class="comment__avatar">
                                <a href="#" class="comment__avatar-img">
                                    <img src="{% static '/images/avatar/avatar.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="comment__info">
                                <div class="comment__name">Юрий Козин</div>
                                <p class="comment__text">Не раскрыта тема комедийных британских сериалов
                                </p>
                            </div>
                            <div class="comment__likes">
                                <button type="button">+</button>
                                <span class="comment__likes-count">5</span>
                                <button type="button">-</button>
                            </div>
                        </div>
                        <div class="comment__footer">
                            <a href="#" class="answer__btn">Ответить</a>
                            <div class="comment__date">15 фувраля, 18:02</div>
                        </div>
                    </div>

                    <div class="comment__item">
                        <div class="comment__desc">
                            <div class="comment__avatar">
                                <a href="#" class="comment__avatar-img">
                                    <img src="{% static '/images/avatar/avatar.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="comment__info">
                                <div class="comment__name">Юрий Козин</div>
                                <p class="comment__text">Не раскрыта тема комедийных британских сериалов. Навскидку -
                                    Книжный
                                    магазин Блэка, Идеал, Компьютерщики и много еще
                                </p>
                            </div>
                            <div class="comment__likes">
                                <button type="button">+</button>
                                <span class="comment__likes-count">5</span>
                                <button type="button">-</button>
                            </div>
                        </div>
                        <div class="comment__footer">
                            <a href="#" class="answer__btn">Ответить</a>
                            <div class="comment__date">15 фувраля, 18:02</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}